@model IEnumerable<SuperZapatos.Models.Store>


@{
    ViewBag.Title = "Stores";
}

<h2>Stores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td>
            <a href="@Url.Action("Edit","Stores",new { id=item.STORE_ID } )"><img src="~/Content/images/edit.png" /></a>
            <a href="@Url.Action("Details","Stores",new { id=item.STORE_ID } )"><img src="~/Content/images/details.png" /></a>
            <a href="@Url.Action("Delete","Stores",new { id=item.STORE_ID } )"><img src="~/Content/images/delete.png" /></a>
        </td>
    </tr>
}

</table>
