@model IEnumerable<SuperZapatos.Models.Article>

@{
    ViewBag.Title = "Articles by Store";
}

<h2>Articles by Store</h2>

@using (Html.BeginForm("Filterable", "StoreArticle", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @*@Html.LabelFor(model => model.STORE_ID, "STORE_ID", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-4">
                @Html.DropDownList("STORE_ID", null, htmlAttributes: new { @class = "form-control" })

            </div>
            <div class="col-md-8">
                <input type="submit" value="Search" class="btn btn-primary " />
            </div>
        </div>
    </div>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_IN_SHELF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_IN_VAULT)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOTAL_IN_SHELF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOTAL_IN_VAULT)
            </td>

            <td>
                <a href="@Url.Action("Edit","StoreArticle",new { id=item.ARTICLE_ID } )"><img src="~/Content/images/edit.png" /></a>
                <a href="@Url.Action("Details","StoreArticle",new { id=item.ARTICLE_ID } )"><img src="~/Content/images/details.png" /></a>
                <a href="@Url.Action("Delete","StoreArticle",new { id=item.ARTICLE_ID } )"><img src="~/Content/images/delete.png" /></a>
            </td>
        </tr>
    }

</table>
